node_modules
src/dist/bundle.js
src/dist/bundle.js.map
.idea
.idea/Szakdolgozat-SmartSnake.iml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml