node_modules
dist
npm-debug.log
.idea
.idea/Szakdolgozat-SmartSnake.iml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
jsconfig.json
env.json
.vscode